{% extends 'core/base.html' %}
{% load static %}

{% block content %}
        <h1>Carrito de compras</h1>
        <section id="catalogo">
            <table>
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Porcentaje de descuento</th>
                        <th>Cantidad</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for descuento in lista_descuentos %}
                        <tr>
                            <td>{{ descuento.idDescuento }}</td>
                            <td>{{ descuento.nombreDescuento }}</td>

                            <td>{{ descuento.cantidadDescuento }}</td>

                            {% if descuento.estado %}
                            
                            <td>Activo</td>

                            {% else %}

                            <td>No Activo</td>
                
                            {% endif %}
                            <td>
                                <a href="{% url 'eliminarDescuento' descuento.idDescuento %}">
                                    <img src="{% static 'images/icons8_erase_30px.png' %}" alt="">
                                </a>
                            </td>
                        
                            <td>
                                <a href="{% url 'modificarDescuento' descuento.idDescuento %}">Modificar</a>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>            
        </section>

        <style>
            th{
                text-align: center;
            }
        </style>
        


        
    {% endblock %}